#ha{
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 10%;
}
h2,h1,p{
    text-align: center;
    
}
#new{
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
}
.work{
    width: 200px;
    height: 200px;
}
.menu{
    list-style: none;
    font-size: 20px;
}